//Accordion
.panel {
  color: $color-initial;
  margin-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;

  > input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked {
      ~ .panel-content {
        max-height: 100%;
      }
    }
  }

  > label {
    background: $color-primary;
    cursor: pointer;
    display: block;
    font-weight: 500;
    line-height: 3;
    padding: 0 0 0 1em;
    position: relative;

    &:after {
      display: block;
      height: 3em;
      line-height: 3;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      -webkit-transition: all .35s;
      transition: all .35s;
      width: 3em;
    }
  }

  > input[type=checkbox] + label:after {
    content: '+';
  }

  > input[type=checkbox]:checked + label:after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }

}

.panel-content {
  background: $color-initial;
  color: $color-secondary;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;

  p {
    margin: 1em;
  }
}