// Button styles
$buttons: 'button, .button, a.button, [type=submit],[type=button]';

#{$buttons} {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-initial;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  height: 3rem;
  letter-spacing: .1rem;
  line-height: 3rem;
  padding: 0 1.2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:focus,
  &:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-initial;
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none;

    &:focus,
    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  &.button-outline {
    background-color: transparent;
    border-bottom-width: .25rem;
    color: $color-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: $color-secondary;
      color: $color-secondary;
    }

    &[disabled] {
      &:focus,
      &:hover {
        border-color: inherit;
        color: $color-primary;
      }
    }
  }

  &.button-clear {
    background-color: transparent;
    border-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $color-secondary;
    }

    &[disabled] {
      &:focus,
      &:hover {
        color: $color-primary;
      }
    }
  }
}