//Breakpoints
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$larger-than-mobile: 768px;

//Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$greenery: #86af49;
$purple-haze: #817397;
$smokey-grape: #b88bac;
$tawny-orange: #d57f70;
$misty-yellow: #dcb967;
$sphynx: #ac9897;
$woodrose: #af8c90;
$buttercream: #f0e1ce;

$color-initial: #fff;
$color-primary: $greenery;
$color-secondary: $purple-haze;
$color-tertiary: $buttercream;
$color-quaternary: $tawny-orange;
$color-quinary: $smokey-grape;
$color-sextiary: $misty-yellow;
